<footer class="text-gray-600 bg-[#f5f3f2]">
  <div class="container px-5 md:px-20 py-28 pb-20 mx-auto ">
    <div class="flex flex-wrap md:text-left text-center order-first ">
      <div class="lg:w-1/4 md:w-1/2 w-full px-3 flex flex-col items-start ">
        <h1 class=" font-semibold text-gray-900 tracking-widest text-lg mb-2">CONTACT</h1>
        <nav class="list-none mb-10">
          <li class="flex ">
            <a class="text-black/50 font-light hover:text-gray-800 my-2">+91 132 475 786</a>
          </li>
          <li class="flex ">
            <a class="text-black/50 font-light hover:text-gray-800 my-2">1187 Bolvia Kornado.</a>
          </li>
          <li class="flex ">
            <a class="text-black/50 font-light hover:text-gray-800 my-2">Corpende CO bardin 16086</a>
          </li>
          <li class="flex gap-4 mt-4">
            <a class="text-black/50 font-light hover:text-gray-800">
              <img src="../assets/images/HomePagePics/SVGIcons/facebook.png" alt="">
            </a>
            <a class="text-black/50 font-light hover:text-gray-800">
              <img src="../assets/images/HomePagePics/SVGIcons/insta.png" alt="">
            </a>
            <a class="text-black/50 font-light hover:text-gray-800">
              <img src="../assets/images/HomePagePics/SVGIcons/twitter.png" alt="">
            </a>
            <a class="text-black/50 font-light hover:text-gray-800">
              <img src="../assets/images/HomePagePics/SVGIcons/youtube.png" alt="">
            </a>
          </li>
        </nav>
      </div>

      <div class="lg:w-1/4 md:w-1/2 w-full px-3 flex flex-col items-start">
        <h1 class="font-semibold text-gray-900 tracking-widest text-lg mb-2">HELP</h1>
        <nav class="list-none mb-10">
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">FAQs</a>
          </li>
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">Track</a>
          </li>
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">Your Order</a>
          </li>
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">My Account</a>
          </li>
        </nav>
      </div>

<div class="lg:w-1/4 md:w-1/2 w-full px-3 flex flex-col items-start">
        <h1 class="font-semibold text-gray-900 tracking-widest text-lg mb-2">ABOUT US</h1>
        <nav class="list-none mb-10">
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">Our Story</a>
          </li>
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">Job Opportunities</a>
          </li>
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">Store Locator</a>
          </li>
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">Contact Us</a>
          </li>
        </nav>
      </div>

      <div class="lg:w-1/4 md:w-1/2 w-full px-3 flex flex-col items-start">
        <h1 class="font-semibold text-gray-900 tracking-widest text-lg mb-2">CUSTOMER SERVICE</h1>
        <nav class="list-none mb-10">
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">My Account</a>
          </li>
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">Terms of Use</a>
          </li>
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">Deliveries & Returns</a>
          </li>
          <li class="flex">
            <a class="text-black/50 font-light hover:text-gray-800  my-2">Gift Card</a>
          </li>
        </nav>
      </div>

    </div>
  </div>

  <div class="bg-white">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-500 text-lg text-left">© 2020 Hout
        <a href="" rel="" class="text-gray-600 ml-1" target="_blank">, All Rights Reserved</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 -mx-2 justify-start">
        <a class="text-gray-500">
         <img src="../assets/images/HomePagePics/SVGIcons/visa.png" alt="">
        </a>
        <a class="ml-3 text-gray-500">
          <img src="../assets/images/HomePagePics/SVGIcons/visa2.png" alt="">
        </a>
        <a class="ml-3 text-gray-500">
          <img src="../assets/images/HomePagePics/SVGIcons/visa3.png" alt="">
        </a>
        <a class="ml-3 text-gray-500">
          <img src="../assets/images/HomePagePics/SVGIcons/visa4.png" alt="">
        </a>
        <a class="ml-3 text-gray-500">
          <img src="../assets/images/HomePagePics/SVGIcons/visa5.png" alt="">
        </a>
        <a class="ml-3 text-gray-500">
          <img src="../assets/images/HomePagePics/SVGIcons/visa6.png" alt="">
        </a>
      </span>
    </div>
  </div>

</footer>
