<section>
  <div class="h-[614px] w-full bg-[#FFF0DA] font-EB-Garamond text-custom-gray-text">
    header
  </div>

  <div class="mt-20 h-[1000px] container w-1/2 mx-auto bg-red-200">
    <div class="h-[896px] w-full bg-blue-300 flex gap-4">
      <div class="w-1/5 h-full bg-slate-500">

      </div>
      <div class="h-full w-4/5 relative">
        <img src="../../../assets/images/shoplist3-600x811.jpg.png" class="absolute w-full h-full object-cover" alt="cannot load preview">
      </div>
    </div>
    <div class="h-[400px] w-full bg-orange-200 mt-4">

    </div>

  </div>
</section>

