h1{
  font-family: 'Figtree', sans-serif;
font-family: 'Josefin Sans', sans-serif;
}

p{
  font-family: 'EB Garamond', serif;
}

h2{
  font-family: 'Licorice', cursive;
}

span{
  cursor: pointer;
}
button{
  cursor: pointer;
}

input{
  font-family: 'Figtree', sans-serif;
font-family: 'Josefin Sans', sans-serif;
}
