<section>
  <div class="w-8/12 flex flex-col items-center container mx-auto">

    <!-- profile -->
    <div class="w-full flex flex-col">
      <p class="text-3xl text-custom-black-text tracking-[5.8px] font-Josefin-Sans font-semibold">PROFILE</p>
      <div class="w-full flex justify-between mt-10">
        <div class="">
          <p class="font-Open-Sans text-custom-gray-text text-2xl">Username</p>
          <p class="font-Open-Sans text-black text-3xl italic">Mashooq Minaz</p>

          <p class="font-Open-Sans text-custom-gray-text text-2xl mt-9">Email</p>
          <p class="font-Open-Sans text-black text-3xl italic">mashooqminaz@gmail.com</p>
        </div>
        <div class="">
          <p class="font-Open-Sans text-custom-gray-text text-2xl">Phone Number</p>
          <p class="font-Open-Sans text-black text-3xl italic">9054942764</p>

          <p class="font-Open-Sans text-custom-gray-text text-2xl mt-9">Address</p>
          <p class="font-Open-Sans text-black text-3xl italic">Calicut ,India ,Kgm</p>
        </div>
      </div>
    </div>


    <!-- button -->
    <button class="py-4 px-12 border-[1px] text-custom-black-text border-[#8B8B8B] mt-12 font-EB-Garamond italic font-extrabold text-lg h-fit">update</button>

    <p class="mt-32 text-3xl text-custom-black-text tracking-[5.8px] font-Josefin-Sans font-semibold">ORDER DETAILS</p>

    <!-- order-details -->
    <div class="w-full mt-24">
      <div class="w-full flex items-center p-4 border-b-[1px] border-[#DDDDDD]">
        <p class="font-Josefin-Sans ml-32 pl-16 w-[36%] font-semibold text-base text-custom-black-text">PRODUCT NAME</p>
        <p class="font-Josefin-Sans w-[16%] font-semibold text-base text-custom-black-text">QUANTITY</p>
        <p class="font-Josefin-Sans font-semibold w-[24%] text-base text-custom-black-text">PRODUCT STATUS</p>
      </div>

      <div class="flex flex-col gap-3">

        <!-- each item  -->
        <div class="border-b-[1px] border-[#DDDDDD] py-8 pl-12 flex items-center">
          <div class="h-36 w-24 relative">
            <img src="../../../assets/images/checkoutchair.jpg" class="absolute w-full h-full object-cover" alt="cannot load preview">
          </div>
          <p class="pl-16 w-[36%] font-semibold font-Josefin-Sans text-sm tracking-[2.6px] text-custom-black-text">BED TABLE QUICK VIEW</p>
          <p class="ml-2 text-custom-black-text w-[16%] font-EB-Garamond italic">$36.00</p>
          <p class="text-[#8B8B8B] font-EB-Garamond italic w-[24%]">On the way</p>
          <span class="flex-1"></span>
          <button class="py-4 h-fit px-12 border-[1px] text-custom-black-text border-[#8B8B8B] font-EB-Garamond italic font-extrabold text-lg">View Order</button>
        </div>

        <div class="border-b-[1px] border-[#DDDDDD] py-8 pl-12 flex items-center">
          <div class="h-36 w-24 relative">
            <img src="../../../assets/images/checkoutchair.jpg" class="absolute w-full h-full object-cover" alt="cannot load preview">
          </div>
          <p class="pl-16 w-[36%] font-semibold font-Josefin-Sans text-sm tracking-[2.6px] text-custom-black-text">BED TABLE QUICK VIEW</p>
          <p class="ml-2 text-custom-black-text w-[16%] font-EB-Garamond italic">$36.00</p>
          <p class="text-[#8B8B8B] font-EB-Garamond italic w-[24%]">On the way</p>
          <span class="flex-1"></span>
          <button class="py-4 h-fit px-12 border-[1px] text-custom-black-text border-[#8B8B8B] font-EB-Garamond italic font-extrabold text-lg">View Order</button>
        </div>

        <div class="border-b-[1px] border-[#DDDDDD] py-8 pl-12 flex items-center">
          <div class="h-36 w-24 relative">
            <img src="../../../assets/images/checkoutchair.jpg" class="absolute w-full h-full object-cover" alt="cannot load preview">
          </div>
          <p class="pl-16 w-[36%] font-semibold font-Josefin-Sans text-sm tracking-[2.6px] text-custom-black-text">BED TABLE QUICK VIEW</p>
          <p class="ml-2 text-custom-black-text w-[16%] font-EB-Garamond italic">$36.00</p>
          <p class="text-[#8B8B8B] font-EB-Garamond italic w-[24%]">On the way</p>
          <span class="flex-1"></span>
          <button class="py-4 h-fit px-12 border-[1px] text-custom-black-text border-[#8B8B8B] font-EB-Garamond italic font-extrabold text-lg">View Order</button>
        </div>

        <div class="border-b-[1px] border-[#DDDDDD] py-8 pl-12 flex items-center">
          <div class="h-36 w-24 relative">
            <img src="../../../assets/images/checkoutchair.jpg" class="absolute w-full h-full object-cover" alt="cannot load preview">
          </div>
          <p class="pl-16 w-[36%] font-semibold font-Josefin-Sans text-sm tracking-[2.6px] text-custom-black-text">BED TABLE QUICK VIEW</p>
          <p class="ml-2 text-custom-black-text w-[16%] font-EB-Garamond italic">$36.00</p>
          <p class="text-[#8B8B8B] font-EB-Garamond italic w-[24%]">On the way</p>
          <span class="flex-1"></span>
          <button class="py-4 h-fit px-12 border-[1px] text-custom-black-text border-[#8B8B8B] font-EB-Garamond italic font-extrabold text-lg">View Order</button>
        </div>

      </div>
    </div>
  </div>

</section>
