<section>
  <div class="h-[614px] w-full bg-[#FFF0DA] font-EB-Garamond text-custom-gray-text">
    header
  </div>

  <div class="w-8/12 bg-red-200 flex flex-col items-center container mx-auto">

    <!-- profile -->
    <div class="w-full flex justify-between">
      <div class="h-32 bg-red-600">
        <p class="text-2xl text-custom-black-text tracking-[5.8px]">Profile</p>
        <div class="">
          <p>fdsahgf</p>
          <p>dsafasde</p>
        </div>
      </div>
      <div class="h-32 bg-blue-400">
        <p>fdsahgf</p>
        <p>dsafasde</p>
      </div>
    </div>

    <!-- button -->
    <button class="h-12 w-24 border-2 border-black">update</button>

    <p class="text-4xl">Order details</p>

    <!-- order-details -->
    <div class="bg-yellow-200 w-full">
      <div class="h-6 w-fulll bg-blue-400">

      </div>

      <div class="flex gap-3 bg-fuchsia-300">
        <p>safdsdaf</p>
        <p>sadfdsf</p>
        <p>fdasf</p>
      </div>
    </div>


  </div>
</section>
